a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

p {
  user-select: none;
}

.novel-container {
  margin-top: 2em;
}

.novel-center-text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.novel-loading-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  background-color: transparent;
}

.blockquote-footer::before {
  content: none;
}

.novel-more {
  display: none;
}

.novel-less {
  display: inline;
}

.novel-show-dots {
  display: inline;
}

.novel-not-show-dots {
  display: none;
}

.novel-more-less-button {
  color: darkslateblue;
}

.novel-more-less-button:hover {
  color: darkmagenta;
}
