.btnPrimary,
.btnPrimary:hover,
.btnPrimary:focus {
  background-color: #e3217e !important;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

.body {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

/* Setting Background Img */
.mainBackground {
  background-image: url("../assets/images/joker.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
}

.coverContainer {
  max-width: 42em;
}

.homeBodyText {
  min-height: 80px;
}
